/* Tweaked values from Responsive Grid System's 5col.css */
.span_1_of_5 {
  width: 17%;
}
.span_5_of_5 {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .span_1_of_5 {
    width: 100%;
  }
}


#kanban-overlay {
  z-index: 1500;
  padding-left: 5%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 95%;
  height: 100%;
  background-color: #fff;
  background-image: url(/wrms3static/images/header.png);
  background-repeat: no-repeat;
  background-position: center top;
}

#kanban-overlay li > span.wrno {
  display: none;
}

#kanban-overlay li > span.wrno_pretty {
  float: left;
  padding-left: 2px;
  text-align: left;
  font-weight: bold;
  width: 30%;
  display: block;
}

#kanban-overlay li > span.status {
  float: right;
  padding-right: 2px;
  text-align: right;
  font-weight: bold;
  width: 60%;
  display: block;
}

#kanban-overlay li > span.brief {
  width: 100%;
  padding: 15px 2px 0px 2px;
  display: block;
  margin: 5px 0px 5px 0px;
}

#kanban-overlay li div.budget_group {
  opacity: 0.75;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2px;
  height: 8px;
}

#kanban-overlay li div.budget_group > .ah {
  height: 4px;
  background-color: #09c;
  float: left;
}

#kanban-overlay li div.budget_group > .uh {
  height: 4px;
  background-color: #bef;
  float: left;
}

#kanban-overlay li div.budget_group > .actual {
  height: 4px;
  background-color: #f44;
  float: left;
}

#kanban-overlay li span.alloc {
  display: block;
  margin-bottom: 3px;
  margin-left: 2px;
  width: 30px;
  height: 40px;
}

#kanban-overlay span.alloc.bright {
  opacity: 1.0;
  color: #fff;
}

#kanban-overlay h1 {
  text-align: center;
  font-size: 2em;
  color: #000;
}

#kanban-overlay > div.section > div {
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  padding-left: 10px;
}

#kanban-overlay > div.section:nth-of-type(1) > div {
  background-color: inherit;
  border-width: 0px;
}

#kanban-overlay > div.section:nth-of-type(1) > div.btn.close {
  position: absolute;
  top: 30px;
  left: 90%;
  width: 24px;
  height: 30px;
  background-image: url(catimg/delete.png);
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
}

#kanban-overlay a {
  cursor: pointer;
  color: #000;
}

#kanban-overlay ul {
  list-style: none;
  display: inline;
  width: 100%;
  float: left; /* required for jquery-ui's drag and drop */
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

#kanban-overlay li {
  width: 95%;
  padding: 5px 0px 5px 0px;
  margin-bottom: 3px;
  cursor: move;
}

#kanban-overlay li.heading {
  text-align: center;
  font-weight: bold;
}

#kanban-overlay li.dimmed {
  opacity: 0.3;
}

#kanban-overlay li.modified {
  color: #666;
  background-color: #fff;
  border: 1px solid #eee;
}

#kanban-overlay li.modified span.alloc {
  background-color: #ccc;
  border: 1px solid #eee;
}

#kanban-overlay li.modified div.update > textarea.note.default {
  font-style: italic;
  color: #aaa;
}

#kanban-overlay li.modified div.update > span.submit {
  cursor: pointer;
}

ul.kanban-backlog li {
  background-color: #fff;
  border: 1px solid #c00;
}

ul.kanban-backlog li.heading,
ul.kanban-backlog li span.alloc {
  color: #ffe4e4;
  background-color: #f44;
  border: 1px solid #c00;
}

ul.kanban-this_week li {
  background-color: #fff;
  border: 1px solid #93c;
}

ul.kanban-this_week li.heading,
ul.kanban-this_week li span.alloc {
  color: #f5eafa;
  background-color: #a6c;
  border: 1px solid #93c;
}

ul.kanban-cat_dev li {
  background-color: #fff;
  border: 1px solid #f80;
}

ul.kanban-cat_dev li.heading,
ul.kanban-cat_dev li span.alloc {
  color: #fff6df;
  background-color: #fb3;
  border: 1px solid #f80;
}

ul.kanban-cat_test li {
  background-color: #fff;
  border: 1px solid #690;
}

ul.kanban-cat_blocked li {
  background-color: #fff;
  border: 1px solid #c00;
}

ul.kanban-cat_blocked li.heading,
ul.kanban-cat_blocked li span.alloc {
  color: #ffe4e4;
  background-color: #f44;
  border: 1px solid #c00;
}

ul.kanban-client_uat li {
  background-color: #fff;
  border: 1px solid #690;
}

ul.kanban-client_uat li.heading,
ul.kanban-client_uat li span.alloc,
ul.kanban-cat_test li.heading,
ul.kanban-cat_test li span.alloc {
  color: #f0f8db;
  background-color: #9c0;
  border: 1px solid #690;
}

ul.kanban-done li {
  background-color: #fff;
  border: 1px solid #09c;
}

ul.kanban-done li.heading,
ul.kanban-done li span.alloc {
  color: #e2f4fb;
  background-color: #33b5e5;
  border: 1px solid #09c;
}
