#kanban-overlay {
  z-index: 1500;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#kanban-overlay h1 {
  text-align: center;
}

#kanban-overlay a.btn {
  line-height: 40px;
  cursor: pointer;
}

#kanban-overlay > div.section > div {
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  padding-left: 10px;
}

#kanban-overlay > div.section:nth-of-type(1) > div {
  background-color: #fff;
  border-width: 0px;
}

#kanban-overlay ul {
  list-style: none;
  display: inline;
  float: left; /* required for jquery-ui's drag and drop */
}

#kanban-overlay li {
  width: 90%;
  padding: 5px 3px 5px 3px;
  margin-bottom: 3px;
  cursor: move;
}

#kanban-overlay li.modified {
  background-color: #AEE8FF;
  border: 1px solid #4aabff;
}

ul.kanban-backlog li {
  background-color: #fff;
  border: 1px solid #da1715;
}

ul.kanban-this_week li {
  background-color: #fff;
  border: 1px solid #f48705;
}

ul.kanban-cat_dev li {
  background-color: #fff;
  border: 1px solid #f2b505;
}

ul.kanban-cat_test li {
  background-color: #fff;
  border: 1px solid #f2b505;
}

ul.kanban-cat_blocked li {
  background-color: #fff;
  border: 1px solid #da1715;
}

ul.kanban-client_uat li {
  background-color: #fff;
  border: 1px solid #adc10c;
}

ul.kanban-done li {
  background-color: #fff;
  border: 1px solid #91ccff;
}
